body{
    background: rgb(247,58,149);
    background: linear-gradient(90deg, rgba(247,58,149,1) 5%, rgba(239,18,18,1) 54%, rgba(252,141,8,1) 96%);
}

.custom-shape-divider-top-1661258718 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1661258718 svg {
    position: relative;
    display: block;
    width: calc(174% + 1.3px);
    height: 173px;
    transform: rotateY(180deg);
    
}

.custom-shape-divider-top-1661258718 .shape-fill {
    fill: #fff;
}

.content{
    position: absolute;
    z-index: 1;
}

.content p{
    position: absolute;
    margin: 100px;
    padding-top: 100px;
    font-size: 100px;
    font-weight: 800;
    color: #fff;
    opacity: .5;
}