body{
    background: rgb(247,108,175);
background: linear-gradient(147deg, rgba(247,108,175,1) 5%, rgba(238,112,112,1) 54%, rgba(250,177,90,1) 96%);
}

.custom-shape-divider-top-1661258718 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1661258718 svg {
    position: relative;
    display: block;
    width: calc(174% + 1.3px);
    height: 173px;
    transform: rotateY(180deg);
    
}

.custom-shape-divider-top-1661258718 .shape-fill {
    fill: #fff;
}

.content{
    position: absolute;
    z-index: 1;
}

.content .name{
    position: relative;
    width: 100%;
    text-align: center;
    margin-left: 140px;
    padding-top: 150px;
    font-size: 120px;
    font-weight: 800;
    color: #fff;
    opacity: .4;
}

.content .job{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-left: 120px;
    margin-top: -170px;
    font-size: 90px;
    font-weight: 800;
    color: #fff;
    opacity: 1;
}

ul li{
   position: absolute;
    display: inline-block;
    margin: 10px;
    padding: 20px;
    
}

ul li a{
    
    z-index: 3;
    color: black;
}